#root {
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero {
  width: 90%;
  max-width: 1480px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 16rem;
  padding:0.5rem;
  }

.heroLogo {
}

.heroText {
  text-align: left;
  font-size: 3.25rem;
  font-weight: 800;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  width: 120px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #4078c0);  
}